body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
p {
    color: darkblue;
    line-height: 1.8;
}
h2, h4 {
    color: rgb(55, 1, 59);
}
h1 {
    font-size: 48px;
    margin-top: 40px;
}
h2 {
    font-size: 32px;
    margin-top: 50px;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.main-section {
    background-color: rgb(114, 79, 148);
    color: #fff;
    padding-bottom: 20px;
}
.main-section p {
    color: #fff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(244, 204, 252);
    margin-bottom: 40px;
    padding-top: 30px;
}
.header h2{
    color: rgb(244, 204, 252);
    text-align: center;
    font-size: 32px;
    margin: 0;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.nav li {
    padding: 10px;
}
.nav a {
    color: rgb(244, 204, 252);
    text-decoration: none;
}
.photo {

    max-width: 100%;
}
.work-list li{
    padding: 10px;
    color: darkblue
}
.work-list {
    margin-bottom: 40px;
}
.achieve-list {
    list-style-image: url(../img/check-circle.png);
    list-style-position: inherit;
    margin-bottom: 40px;
}
.skills-list {
    list-style-image: url(../img/check.png);
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    width: 50%;
    margin-bottom: 40px;
}
.skills-list li {
    margin-bottom: 10px;
}
.motto-section {
    background-image: url(https://images.unsplash.com/photo-1585758942414-7a30b116f2af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding: 20px;
}
.motto-section p {
    color: #fff;
    margin-bottom: 80px;
}
.motto-section h2 {
    color: #fff;
    margin-top: 80px;
}
.about-me-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(114, 79, 148);
    margin: 30px;
}
.about-me-images {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.contacts {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
}
input, textarea {
    min-height: 20px;
    margin: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    border: 1px solid rgb(114, 79, 148);
    border-radius: 5px;
}

.submit-button {
    width: fit-content;
    height: 40px;
    color: #fff;
    padding: 12px 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: auto;
    margin-bottom: 20px;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #2c0b8e;
}

.submit-button:hover {
    background-color: #3d348b;
}

.submit-button:active {
    top: 2px;
}