body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.main-section {
    background-color: rgb(114, 79, 148);
    color: #fff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(244, 204, 252);
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav li {
    padding: 10px;
}
.photo {
    max-width: 1200px;
}